<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="perspective.SmcRepository"
            fixed="true"
            id="perspective.SmcRepository"
            name="Smcrepository"
            icon="icons/sample.gif">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="perspective.SmcRepository">
   
          	
            <view
                  id="org.eclipse.jdt.ui.ProjectExplorer"
                  minimized="false"
                  moveable="false"
                  ratio="0.5"
                  relationship="left"
                  relative="org.eclipse.ui.console.ConsoleView"
                  visible="true">
            </view>
 
            <view
                  id="org.eclipse.ui.console.ConsoleView"
                  minimized="false"
                  moveable="false"
                  ratio="0.5"
                  relationship="right"
                  relative="org.eclipse.jdt.ui.PackageExplorer"
                  visible="true">
            </view>
            
            <view
                  id="org.eclipse.ui."
                  minimized="false"
                  moveable="false"
                  ratio="0.5"
                  relationship="right"
                  relative="org.eclipse.jdt.ui.PackageExplorer"
                  visible="true">
            </view>
            
 
      </perspectiveExtension>
   </extension>
   
    <extension
         point="org.eclipse.ui.views">
      <category
            name="SmcRepository_Temp"
            id="smcrepository_temp">
      </category>
     
    <view
            category="smcrepository_temp"
            class="smcrepository.views.User"
            icon="icons/sample.gif"
            id="smcrepository.views.User"
            name="User"
            relationship="left"
            visible="true">
      </view>
      
      <view
            category="smcrepository_temp"
            class="smcrepository.views.CommentView"
            icon="icons/sample.gif"
            id="smcrepository.views.Commenti"
            name="Comments"
            relationship="left"
            visible="true">
      </view>

      </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="smcrepository.MyEditor"
             default="false"
             id="SmcRepository.editor1"
             name="My Editor">
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="smcrepository.CallEditor"
             id="SmcRepository.command1"
             name="Open Editor">
       </command>
    </extension>
</plugin>
