<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="perspective.SmcRepository"
            fixed="true"
            id="perspective.SmcRepository"
            name="Smcrepository"
            icon="icons/sample.gif">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="perspective.SmcRepository">
   
          	
            <view
                  id="org.eclipse.jdt.ui.ProjectExplorer"
                  minimized="false"
                  moveable="false"
                  ratio="0.5"
                  relationship="left"
                  relative="org.eclipse.ui.console.ConsoleView"
                  visible="true">
            </view>
 
            <view
                  id="org.eclipse.ui.console.ConsoleView"
                  minimized="false"
                  moveable="false"
                  ratio="0.5"
                  relationship="right"
                  relative="org.eclipse.jdt.ui.PackageExplorer"
                  visible="true">
            </view>
            
            <view
                  id="org.eclipse.ui."
                  minimized="false"
                  moveable="false"
                  ratio="0.5"
                  relationship="right"
                  relative="org.eclipse.jdt.ui.PackageExplorer"
                  visible="true">
            </view>
            
 
      </perspectiveExtension>
   </extension>
   
    <extension
         point="org.eclipse.ui.views">
      <category
            name="SmcRepository_Temp"
            id="smcrepository_temp">
      </category>
     
    <view
            category="smcrepository_temp"
            class="smcrepository.views.User"
            icon="icons/sample.gif"
            id="smcrepository.views.User"
            name="User"
            relationship="left"
            visible="true">
      </view>
      
      <view
            category="smcrepository_temp"
            class="smcrepository.views.CommentView"
            icon="icons/sample.gif"
            id="smcrepository.views.Commenti"
            name="Comments"
            relationship="left"
            visible="true">
      </view>

      </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="smcrepository.MyEditor"
             default="false"
             id="SmcRepository.editor1"
             name="My Editor">
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="smcrepository.CallEditor"
             id="SmcRepository.command1"
             name="Open Editor">
       </command>
    </extension>
    <extension point="org.eclipse.ui.commands">
		<command name="remove" description="Remove resource"
			id="smcrepository.ui.command.removeResources"/>
		<command name="copy" description="Copy resources"
			id="smcrepository.ui.command.copyResources"/>
		<command name="paste" description="Paste resource"
			id="smcrepository.ui.command.pasteResources"/>
		<command name="cut" description="Cut resource"
			id="smcrepository.ui.command.cutResources"/>
			
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler class=
			"smcrepository.RemoveResource"
		commandId="smcrepository.ui.command.removeResources"/>
		
		<handler class=
			"smcrepository.CopyResource"
		commandId="smcrepository.ui.command.copyResources"/>
		<handler class=
			"smcrepository.PasteResource"
		commandId="smcrepository.ui.command.pasteResources"/>
		<handler class=
			"smcrepository.CutResource"
		commandId="smcrepository.ui.command.cutResources"/>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false"
			locationURI="popup:org.eclipse.ui.popup.any">
			<command label="Remove" style="push"
				commandId="smcrepository.ui.command.removeResources">
				<visibleWhen checkEnabled="false">
				<with variable="selection">
					<iterate ifEmpty="false">
						<adapt type="smcrepository.views.Resource"/>
					</iterate>
				</with>
				</visibleWhen>
			</command>
			
		
			<command label="Copy" style="push"
				commandId="smcrepository.ui.command.copyResources">
				<visibleWhen checkEnabled="false">
				<with variable="selection">
					<iterate ifEmpty="false">
						<adapt type="smcrepository.views.Resource"/>
					</iterate>
				</with>
				</visibleWhen>
			</command>
			<command label="Paste" style="push"
				commandId="smcrepository.ui.command.pasteResources">
				<visibleWhen checkEnabled="false">
				<with variable="selection">
					<iterate ifEmpty="false">
						<adapt type="smcrepository.views.Resource"/>
					</iterate>
				</with>
				</visibleWhen>
			</command>
			<command label="Cut" style="push"
				commandId="smcrepository.ui.command.cutResources">
				<visibleWhen checkEnabled="false">
				<with variable="selection">
					<iterate ifEmpty="false">
						<adapt type="smcrepository.views.Resource"/>
					</iterate>
				</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
</plugin>
